@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.btn-primary,
.ant-btn-primary,
.ant-radio-button-wrapper-checked {
    color: white !important;
    background-color: #165788 !important;
    border: 1px solid #165788 !important;
}

.btn-primary:hover,
.ant-btn-primary:hover {
    background-color: white !important;
    border: 1px solid #425968 !important;
    color: #425968 !important;
}

.btn-secondary,
#advanced-keyword {
    background-color: #1b394e !important;
    border: 1px solid #1b394e !important;
    color: white !important;
}

.btn-secondary:hover {
    background-color: #1b394e !important;
    border: 1px solid #1b394e !important;
    color: white !important;
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.sideBarCard .ant-card-head {
    background-color: #1b394e !important;
    color: white !important;
    height: 64px !important;
    font-weight: 600 !important;
    padding-top: 4px !important;
}

.sideBarCard .ant-card-body {
    background-color: #dbdbdb !important;
}

.ant-tree-switcher {
    background-color: transparent !important;
    color: black !important;
}

.ant-tree-switcher-line-icon svg {
    margin-bottom: 5px !important;
}

.ant-tree-title {
    font-size: 16px !important;
}

.drawerButton {
    box-shadow: 1px 1px 1px #888888 !important;
    position: fixed !important;
    top: 80px !important;
    left: -10px !important;
    z-index: 9000;
    width: 50px !important;
    height: 50px !important;
    font-size: 20px;
    text-align: center;
    border-left: 0;
    border-radius: 0;
}

.mediaCard {
    font-weight: bold !important;
}

.mediaCard>.ant-card-body {
    font-size: 1.1rem !important;
}

.mediaCard>.ant-card-head {
    background: #dbdbdb !important;
    color: #003478 !important;
    font-weight: bold;
}

.mediaFile {
    background: #004b87 !important;
    color: white !important;
    font-weight: bold;
}

.logo-mobile {
    display: none;
}

.logo-desktop {
    display: block;
    /* margin-top: 12px; */
}

@media screen and (min-width: 1200px) {
    .s5 {
        width: 20% !important;
    }
}

@media only screen and (max-width: 1025px) {
    #banner {
        display: flex;
        align-items: center;
        text-align: left !important;
    }
    #bannerHeader {
        display: none !important;
    }
    #headerBar {
        height: 56px !important;
    }
}

@media only screen and (min-width: 1025px) {
    #summary_report #banner,
    #detail_report #banner {
        margin-top: 10px !important;
    }
    #featureMeta .ant-card-meta-description {
        font-size: 0.9em !important;
    }
    #mobileBannerHeader {
        display: none !important;
    }
    #headerBar {
        height: 80px !important;
    }
}

@media only screen and (min-width: 1921px) {
    #layoutMainRow {
        width: 1920px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 769px) {
    .listRow,
    .listRowMediaCol,
    .summaryListImageContainer {
        height: auto;
    }
    .mediaCard {
        width: 180px;
        float: right !important;
    }
    .listRow {
        padding-bottom: 24px;
        margin-top: 24px;
        border-bottom: 1px solid #c5c7c7;
    }
    .summaryListImageContainer {
        /* max-height: 220px; */
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 16px;
    }
    .summaryListImageContainer img {
        object-fit: cover !important;
        width: 80%;
        max-width: 180px;
        height: auto;
        /* max-height: 200px; */
    }
}

@media only screen and (max-width: 768px) {
    #summary_report #banner,
    #detail_report #banner {
        margin-top: 0px !important;
        margin-bottom: -5px !important;
    }
    #summary_report .logo,
    #detail_report .logo {
        /* margin-top: 12px !important; */
    }
    #footer {
        padding-left: 20px !important;
        display: flex;
        align-items: center;
        height: 56px !important;
    }
    #banner {
        height: 56px !important;
    }
    .ant-layout-header {
        /* padding-left: 20px !important; */
    }
    .logo-mobile {
        width: 112px !important;
        margin: 0 auto;
        display: block;
    }
    .logo-desktop {
        display: none;
    }
    #footer a {
        display: block !important;
    }
    span.separator {
        display: none !important;
    }
    .drawerButton {
        display: none !important;
    }
    .homeCard {
        height: auto !important;
    }
    .summaryImageContainer {
        height: 65% !important;
        background-size: auto 70% !important;
    }
    .homeImageContainer {
        height: 65vw !important;
    }
    .featureImageContainer {
        height: 65vw !important;
        max-height: 150px !important;
    }
    .detailImageContainer {
        background-size: auto 100% !important;
    }
    .summaryCard,
    .homeCard {
        height: 100vw !important;
    }
    .detailCard {
        height: auto !important;
    }
    .listRow,
    .listRowMediaCol {
        min-height: 220px;
    }
    .listRow {
        border: 1px solid #c5c7c7;
        margin-bottom: 12px;
        margin-top: 12px;
        padding: 20px;
        text-align: center;
    }
    .summaryListImageContainer {
        min-height: 220px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 16px;
    }
    .summaryListImageContainer img {
        object-fit: cover !important;
        width: 80%;
        height: auto;
    }
    .mediaCard {
        width: 190px;
        margin: 0 auto !important;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .summaryCard,
    .homeCard {
        height: 50vw !important;
    }
    .detailCard {
        height: auto !important;
    }
    .listRow {
        padding-bottom: 20px;
        text-align: left;
    }
}

@media only screen and (max-width: 580px) {
    #summaryButtonGroup {
        display: none !important;
    }
}

.backTop {
    width: 50px !important;
    height: 50px !important;
    background-color: #ec9f09 !important;
    color: white !important;
    text-align: center;
    font-size: 25px !important;
    border-radius: 10% !important;
    bottom: 100px !important;
}

.headerNavigation {
    color: white !important;
    font-weight: 600 !important;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s !important;
}

.headerNavigation:hover {
    color: white !important;
    background-color: #165788 !important;
}

.homeCard,
.summaryCard,
.detailCard {
    border: 1px solid #e5e5e5 !important;
}

.detailCard .ant-card-body {
    padding: 20 !important;
}

.summaryImageContainer,
.homeImageContainer {
    height: 20vw;
    max-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 60%;
    transition: all 0.3s;
}

.featureImageContainer {
    height: 20vw;
    max-height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.3s;
    margin-bottom: 20px;
}

.detailImageContainer {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    transition: all 0.3s;
}

.summaryImageContainer:hover {
    transform: scale(1.05);
}

.cardImage {
    object-fit: cover !important;
    width: 100%;
    height: auto;
}

.homeList {
    background: white !important;
    cursor: pointer;
}

.cardListImage img {
    object-fit: cover !important;
    width: 100%;
    height: auto;
}

.card-header {
    background-color: #1b394e !important;
    color: white !important;
}

.card-footer {
    background-color: white !important;
    color: white !important;
}

.reportTree svg {
    margin-top: 5px !important;
}

#summary_report .ant-radio-button-wrapper>.ant-radio-button {
    display: inherit !important;
}

#summary_report .backTop svg,
#detail_report .backTop svg {
    margin-top: 12px !important;
}

.ant-radio-button-wrapper:hover {
    color: #165788 !important;
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:hover {
    color: white !important;
}

#mobileNavBar {
    border-top: 1px solid #cccccc5e;
    box-shadow: 5px 10px 18px #888888;
    width: 100% !important;
    height: 60px;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
}

.mobileNavBarButton {
    border-radius: 0 !important;
    height: 100% !important;
    width: 25% !important;
    border: 0 !important;
    font-size: 20px !important;
}

.detailMobileNavBarButton {
    border-radius: 0 !important;
    height: 100% !important;
    width: calc(100% / 3) !important;
    border: 0 !important;
    font-size: 20px !important;
}

#leftDrawer .ant-drawer-content-wrapper {
    width: 100vw !important;
    max-width: 400px !important;
}

#treeDrawer .ant-drawer-content-wrapper {
    width: 100vw !important;
    max-width: 700px !important;
}

.ant-pagination {
    text-align: center !important;
}

.ant-pagination-item-link i {
    margin-top: 10px !important;
}

#detailDescriptions .ant-descriptions-item-label {
    width: 25% !important;
    max-width: 200px !important;
}

#detailDescriptions th,
#detailDescriptions td {
    padding: 10px !important;
    font-size: 16px !important;
}

#detailCarousel {
    margin-top: 44px !important;
}

#mediaTabs .ant-tabs-bar svg {
    margin-bottom: 5px !important;
    font-size: 20px !important;
}

#mediaTabs .ant-tabs-top-bar {
    height: 50px !important;
}

.detailCard li svg {
    margin-bottom: 6px !important;
}

.noMedia {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.summaryMedia {
    text-align: center;
    margin: 0 auto !important;
}

.summaryMediaCard {
    font-size: 1.2rem !important;
    width: 80% !important;
    margin: 0 auto !important;
}

.summaryMediaCard .ant-card-actions>li>span:hover {
    color: rgba(0, 0, 0, 0.45) !important;
}

.summaryMedia .ant-card-body {
    display: none !important;
}

.hasMedia {
    color: #004b87 !important;
}

#listViewFooter svg {
    margin-bottom: 6px !important;
}

#noImageCarousel {
    text-align: center !important;
}

#detailDescriptions th {
    font-weight: bold !important;
}

#detailDescriptions .ant-descriptions-title {
    font-size: 20px !important;
}

#summaryButtonGroup button,
#detailButtonGroup button {
    font-size: 20px !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #165788 !important;
}

#mainForm .ant-form-item-label {
    text-align: left !important;
}

#mainForm textarea {
    height: 100px !important;
}

.no-record-background {
    /* background: #eeeaea; */
    color: black !important;
    /* padding: 25px 20px 0 20px; */
}

.no-record-background svg {
    margin-right: 15px;
}

.no-record-card {
    margin-top: 50px;
    margin-bottom: 70px;
}

.no-record-background .card-body {
    padding: 1.75rem !important;
}

footer#footer {
    height: 80px;
    margin-top: 100px;
    text-align: center;
    color: #fff;
    background-color: #165788;
    font-weight: bold;
}

footer#footer a {
    color: inherit;
    display: inline-block;
}

footer#footer hr {
    opacity: 0.25;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.separator {
    margin-left: 25px;
    margin-right: 25px;
}

.ant-card-meta-title {
    font-size: 19px !important;
    font-weight: bold !important;
    color: #165788 !important;
}

.ant-list-item-meta-title a {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #165788 !important;
}

.detailCollapse {
    margin-top: 20px;
}

.noImage img {
    max-width: 100px !important;
}

strong {
    color: black !important;
}

.ant-card-head-title {
    white-space: break-spaces !important;
}

#pageTitle {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center !important;
}

#pageDesc {
    text-align: center !important;
}

#pageDesc h1 {
    font-size: 20px !important;
}

.ant-card-meta-description {
    color: black !important;
}

.sortItem {
    cursor: pointer;
    padding: 0 !important;
}

.sortItem:hover {
    /* border: 1px solid #165788 !important; */
    /* background-color: #e6e6e6 !important; */
}

#summary_report #banner,
#detail_report #banner {
    /* margin-top: 10px; */
    margin-bottom: 5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.featureMetaTitle {
    cursor: pointer;
    font-size: 19px !important;
    font-weight: bold !important;
    color: #165788 !important;
}


/* 
.featureMetaTitle {
  cursor: pointer;
} */

.ant-collapse-header:focus {
    border: 1px solid #165788;
}

.homeCard:focus {
    border: 1px solid #bccedc !important;
}

.ant-list-item-meta-description {
    color: rgba(0, 0, 0, .65) !important;
    ;
}

.summaryListTitle,
.summaryImageContainer h3 {
    font-size: 1.4rem !important;
}

.summaryListTitle {
    color: #004b87 !important;
    cursor: pointer;
}

.summaryListTitle:hover {
    text-decoration: underline;
    color: #165788 !important;
}

#detailDescriptions a:focus {
    text-decoration: underline;
}

.sortItem button {
    border: 0px solid white !important;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.sortItem p:focus {
    text-decoration: underline;
}

.sortDrawer li {
    padding: 0;
    height: 50px;
}

.featureMeta {
    height: 150px;
}

.featureMeta h3 {
    font-size: 1.1rem !important;
    color: rgb(22, 87, 136) !important;
    font-weight: bold;
}

.featureMeta a:focus {
    text-decoration: underline;
}

.featureMeta p {
    font-size: 0.9rem !important;
    color: black !important;
}

.featureMeta p:focus {
    color: red !important;
}

.featureButtonLink {
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 15px;
}

.featureButtonLink:focus {
    text-decoration: underline;
}

.featureButtonLink span {
    display: none;
}

#recordDetail h4 {
    font-size: 1rem !important;
    font-weight: bold;
    margin-bottom: 0px;
}

.pageBreadcrumb svg {
    margin-bottom: 8px;
}

.pageBreadcrumb {
    margin-bottom: 10px !important;
    font-weight: bold;
}

.pageBreadcrumb a,
.pageBreadcrumb span {
    font-size: 1.2rem;
}

.pageBreadcrumb a {
    font-weight: 100;
    color: #004b87 !important;
}