@font-face {
  /* Antenna Bold */
  font-family: "AntennaBold";

  src: 
    /*IE8*/ url("./85bf2123-24cb-4bfd-a720-efe63c68c84d-3.woff")
    format("woff");
}

@font-face {
  /* Antenna */
  font-family: "Antenna";

  src: url("./a249ec5c-51a0-4581-a866-722ded577e7d-3.woff") format("woff");
}

@font-face {
  /* Antenna Light */
  font-family: "AntennaLight";

  src: url("./39ab3e39-bb44-43df-a570-b883a82bfbaf-3.woff") format("woff");
}
* {
  font-family: "Antenna", Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: #2d96cd !important;
  border: 1px solid #2d96cd !important;
}
.btn-primary:hover {
  background-color: white !important;
  border: 1px solid #425968 !important;
  color: #425968 !important;
}

.btn-secondary {
  background-color: #1b394e !important;
  border: 1px solid #1b394e !important;
}
.btn-secondary:hover {
  border: 1px solid #1b394e !important;
  color: white !important;
}
.btn.focus,
.btn:focus {
  box-shadow: none !important;
}
.sideBarCard .ant-card-head {
  background-color: #1b394e !important;
  color: white !important;
  height: 64px !important;
  font-weight: 600 !important;
  padding-top: 4px !important;
}
.sideBarCard .ant-card-body {
  background-color: #dbdbdb !important;
}
.ant-tree-switcher {
  background-color: transparent !important;
  color: black !important;
}
