@font-face {
  /* Antenna Bold */
  font-family: "AntennaBold";

  src: 
    /*IE8*/ url("./85bf2123-24cb-4bfd-a720-efe63c68c84d-3.woff")
    format("woff");
}

@font-face {
  /* Antenna */
  font-family: "Antenna";

  src: url("./a249ec5c-51a0-4581-a866-722ded577e7d-3.woff") format("woff");
}

@font-face {
  /* Antenna Light */
  font-family: "AntennaLight";

  src: url("./39ab3e39-bb44-43df-a570-b883a82bfbaf-3.woff") format("woff");
}
* {
  font-family: "Antenna", Arial, Helvetica, sans-serif;
}

.btn-primary {
  color: white !important;
  background-color: #2d96cd !important;
  border: 1px solid #2d96cd !important;
}
.btn-primary:hover {
  background-color: white !important;
  border: 1px solid #425968 !important;
  color: #425968 !important;
}

.btn-secondary,
#advanced-keyword {
  background-color: #1b394e !important;
  border: 1px solid #1b394e !important;
  color: white !important;
}

.btn-secondary:hover {
  background-color: #1b394e !important;
  border: 1px solid #1b394e !important;
  color: white !important;
}
.btn.focus,
.btn:focus {
  box-shadow: none !important;
}
.sideBarCard .ant-card-head {
  background-color: #1b394e !important;
  color: white !important;
  height: 64px !important;
  font-weight: 600 !important;
  padding-top: 4px !important;
}
.sideBarCard .ant-card-body {
  background-color: #dbdbdb !important;
}
.ant-tree-switcher {
  background-color: transparent !important;
  color: black !important;
}
.ant-tree-switcher-line-icon svg {
  margin-bottom: 5px !important;
}

.ant-tree-title {
  font-size: 16px !important;
}

.drawerButton {
  position: fixed !important;
  top: 80px !important;
  left: 0 !important;
  z-index: 9000;
  width: 50px !important;
  height: 50px !important;
  font-size: 20px;
  text-align: center;
  border-left: 0;
  border-radius: 0;
}
@media only screen and (min-width: 769px) {
  .drawerButton {
    display: none !important;
  }
}

.backTop {
  width: 50px !important;
  height: 50px !important;
  background-color: #2d96cd !important;
  color: white !important;
  text-align: center;
  font-size: 25px !important;
  border-radius: 10% !important;
}
.headerNavigation {
  color: white !important;
  font-weight: 600 !important;

  text-align: center;
  cursor: pointer;
  transition: 0.4s !important;
}

.headerNavigation:hover {
  color: white !important;
  background-color: #2d96cd !important;
}

.homeCard {
  border: 1px solid #e5e5e5 !important;
}

.homeCard:hover {
  background: #dbdbdb !important;
}

.homeList {
  background: white !important;
  cursor: pointer;
}

.homeList:hover {
  background: #e5e5e5 !important;
}

.card-header {
  background-color: #1b394e !important;
  color: white !important;
}

.card-footer {
  background-color: white !important;
  color: white !important;
}
