.fieldGroup {
  margin-top: 50px;
}
.radioGroup {
  margin-top: 15px;
}

.searchBar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.cluster-page-button,
.cluster-search-bar {
  margin-bottom: 20px;
}
#simpleSearchHelp {
  font-size: 20px;
}
